{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block head_extra %}
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
     {{ form.media }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    {{ form.media }}
{% endblock head_extra%}
{% block content %}
    <h1>Edit Reading</h1>
    <div class="row">
        <div class="col-md-8 align-left">
        <form action="" method="post">{% csrf_token %}
            {% bootstrap_form form %}
            <a onclick="javascript:history.back()" class="btn btn-primary">Back</a>
            <input class="btn btn-primary" type="submit"value="Submit">
        </form>
        </div>
    </div>
{{ form.media.js }}
{% endblock %}