{% load i18n widget_tweaks %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>

    <div class="modal-dialog modal-lg" role="document">
            <form method="post" action="{% url 'reading_delete' object.id %}" id="reading_delete" class="form"> {% csrf_token %}
                <div class="modal-content">

                    <div class="modal-header">
                        <h1><strong>Delete Confirm</strong></h1><hr/>
                    </div>

                    <div class="modal-body">
                    <p class="lead">Are you sure you want delete:<br/></p>
                    <h4>{{ object.event }}</h4><hr/>
                    </div>

                    <div class="modal-footer">
                    <a data-dismiss="modal" class="btn btn-primary">Cancel</a>
                    <input type="submit" value="Confirm" class="btn btn-danger">
                    </div>

                 </div>
            </form>
    </div>