{% extends "base.html" %}
{% load bootstrap3 %}
{% block head_extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-sm-6 align-left">
    <h1><strong>Story List</strong></h1>
     <form method="get" action="">
        <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}">
         <input type="hidden" name="themes" value="{{ request.GET.themes }}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search <i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
        </div><br>
        {% for themes in themes_filter %}
         <a href="?themes={{ themes }}&q={{ request.GET.q}}"><span class="label label-primary">{{ themes }}</span></a>
         {% endfor %}
     </form>
    </div>
    <div>

    </div>
    </div><!-- /input-group -->
    <br>
    <div class="row">
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Last Read</th>
                    <th>Themes</th>
                </tr>
              </thead>
        <tbody>
            {% for obj in object_list %}
                    <tr>
                    <td><a href='{{ obj.get_absolute_url }}' >{{ obj.title|upper }}</a> </td>
                    <td>{{ obj.author }}</td>
                    <td>
                        {{ obj.last_reading}}

                    </td>
                    <td>{% for theme in obj.themes.all %}
            <span class="label label-primary">{{theme }}</span>
            {% endfor %}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
   <script type="text/javascript" >

 $(document).ready(function()
 {
     // MAKE SURE YOUR SELECTOR MATCHES SOMETHING IN YOUR HTML!!!
     $('td a').each(function() {
         $(this).qtip({
            content: {
                text: function(event, api) {
                    $.ajax({
                        url: api.elements.target.attr('href') // Use href attribute as URL
                    })
                    .then(function(content) {
                        // Set the tooltip content upon successful retrieval
                        var elements = $("<div />").append( $.parseHTML(content) ).find("div img ");
                        console.log(elements)
                        if (elements) {
                            api.set('content.text', elements);
                        }
                        else{
                            api.set('content.text', "No Cover");
                        }
                    }, function(xhr, status, error) {
                        // Upon failure... set the tooltip content to error
                        api.set('content.text', status + ': ' + error);
                    });

                    return 'Loading...'; // Set some initial text
                }
            },
            position: {
                viewport: $(window)
            },
            style: 'qtip-wiki'
         });
     });
 });</script>
    <style type="text/css">
.qtip-wiki{
    max-width: 385px;
}

.qtip-wiki p{
    margin: 0 0 6px;
}

.qtip-wiki h1{
    font-size: 20px;
    line-height: 1.1;
    margin: 0 0 5px;
}

.qtip-wiki img{
    float: left;
    margin: 0 0 0 0;
}

.qtip-wiki .info{
    overflow: hidden;
}

.qtip-wiki p.note{
    font-weight: 700;
}
    </style>
        <div class="pagination col-md-8 align-left">
            <ul class="step-links pager">
                {% if object_list.has_previous %}
                    <li><a  href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}& q={{ request.GET.q }}{% endif %}">previous</a></li>
                {% endif %}
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>
                {% if object_list.has_next %}
                    <li><a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}& q={{ request.GET.q }}{% endif %}">next</a></li>
                {% endif %}
            </ul>
        </div>
{% endblock %}